body {
    background-color: salmon;
}

.container {
    width: 65%;
    position: relative;
    top: 20px;
    right: 10%;
    background-color: yellow;
    padding-bottom: 10px;
    padding-top: 5px;
}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top-style: solid;
    text-align: center;
    vertical-align: middle;
    line-height: 1vw;
    padding: 1vw;
}